/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html {
      min-height: 100%;
      overflow: hidden;
}

body {
      height: calc(100vh - 8em);
      padding: 4em;
      color: rgba(255, 255, 255, 0.75);
      font-family: 'Anonymous Pro', monospace;
      background-color: rgb(25, 25, 25);
}
.msg {margin-top: 200px;}
.msg p {
    position: relative;
    top: 50%;
    width: 16em;
    margin: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
  }

  .msg p:nth-child(1) {
    width: 10em;
    -webkit-animation: type2 4s steps(40, end);
    animation: type2 4s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .msg p:nth-child(3) {
    width: 7em;
    opacity: 0;
    -webkit-animation: type2 4s steps(40, end);
    animation: type2 4s steps(40, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
    
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

.tib {
    width: 190px;
    height: 138px;
    background-image: url('https://www.pngkey.com/png/full/794-7947705_daddy-shark-png-great-white-shark.png');
    background-size: contain;
    background-position: center;
    margin: auto;
    cursor: pointer;
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }   

.letter-close {
    display: block;
}

.letter-open {
    display: none;
}

h3 {
    color: white;
    text-align: center;
}

.msgbox {
    
    width: 400px;
    margin: auto;
    text-align: center;
    color:white;
    padding: 30px;
    font-size: 20px;
    line-height: 30px;
    
}

.from {
    text-align: right;
    margin-bottom: 0px;
    margin-top: 30px;
}

.ps {
    text-align: right;
    margin-bottom: 0px;
    margin-top: 30px;
}

@media screen and (max-width: 760px) {
    body {
        padding: 0;
        margin: 0;
    }
    
    .msgbox {
        width: 300px;
        padding: 0px;
        margin: auto;
    }


    .h3 {
        font-size: 20px;
    }

    .tib {
        margin: 150px auto 0px auto;
    }

    .msg {font-size:20px;}

